<!DOCTYPE html>
<html lang="en">
<head>
        <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
            <!-- my own css file link in the last position to be priority-->
    <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
</head>
<body>
    <nav class="navbar navbar-dark bg-dark mb-50">
        <h6> Welcome </h6>
    </nav>
    
    <div class="container">
        <h4>Welcome to the site of Cars and Cats</h4>
    </div>
</body>
</html>