<!DOCTYPE html>
<html lang="en">
<head>
        <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
            <!-- my own css file link in the last position to be priority-->
    <link rel="stylesheet" type="text/css" href="/stylesheets/cats.css">
</head>
<body>
    <nav class="navbar navbar-dark bg-dark mb-50">
        <h6> Welcome </h6>
    </nav>
    
    <div class="container">
        <h6>Let see the cats of my dream</h6>
        <img src='/images/cat_1.jpeg' alt='image of cat_1'><br>
        <img src='/images/cat_2.jpeg' alt='image of cat_2'><br>
        <img src='/images/cat_3.jpeg' alt='image of cat_3'><br>
        <img src='/images/cat_4.jpeg' alt='image of cat_4'><br>
        <img src='/images/cat_5.jpeg' alt='image of cat_5'><br>

    </div>
</body>
</html>