<!DOCTYPE html>
  <html>
    <head>
        <meta charset="utf-8">
        <title>result</title>
            <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">     
        <link rel="stylesheet" type="text/css" href="/stylesheets/result.css"> 
       <!-- my own css file link in the last position to be priority-->

      <!-- Put the static files in the static folder inside your app.  
           Django collects files within all static folders and puts them within a single folder -->    
    </head>
    <body>
            <p class="thanks">Thanks for submitting this form! You have submitted this form <%= count %> time(s) now</p>

        <form>
            <div class="info">
                <h4>Submitted Information</h4>
                <div class="key">
                    <% for(var i=0; i<Object.keys(result).length; i++) {%>
                    <p><%= Object.keys(result)[i] %>: </p>
                    <% } %>
                </div>
                <div class="argument">
                    <% for(var i in result) {%>
                    <p><%= result[i] %></p>
                    <% } %> 
                </div>

                <div class="col">
                <a href="/">Go Back</a>
                </div>
            </div>
        </form>   
    </body>
  </html>
